flask
numpy
scikit-learn
opencv-python
matplotlib
requests
pyrebase4
python-dotenv
openai
google-cloud-vision
google-cloud-firestore
google-auth
json5
plotly
io
contextlib2
werkzeug
pathlib
pybase64
gunicorn
google-cloud-vision