<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Code OCR Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h1 class="text-center">Code OCR Demo</h1>
        </div>
      </div>
      
      <div class="row mt-4">
        <div class="col-12">
          <form method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <label for="code_picture" class="input-group-text">Take a picture of your code:</label>
              <input class="form-control" type="file" name="code_picture" accept="image/*" capture="user" id="code_picture">
            </div>
            <input class="btn btn-primary" type="submit" name="submit" value="Upload and process image">
          </form>
        </div>
      </div>
      
      {% if compilation_results %}
      <div class="row mt-4">
        <div class="col-12">
          <h2>Compilation Results:</h2>
          <pre>{{compilation_results}}</pre>
        </div>
      </div>
      {% endif %}

      {% if source_code %}
      <div class="row mt-4">
        <div class="col-12">
          <h2>Source Code:</h2>
          <textarea class="form-control" style="height:300px;" readonly>{{source_code}}</textarea>
        </div>
      </div>
      {% endif %}
      
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>